@import url("https://fonts.googleapis.com/css2?family=Syne:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3rem;
}

.main-hero {
  height: calc(100vh - var(--header-height));
}

span {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
}

h2 {
  font-family: "Syne", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
}

h3 {
  font-family: "Syne", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

body {
  --content-max-width: 1148px;
  --post-max-width: 818px;
  --post-body-max-width: 516px;
  --page-wide-spacing: 20px;

  overflow-x: hidden;

  background-color: #403f4c;
  color: #fcfcfc;

  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: 768px) {
    --page-wide-spacing: 0;
  }
}
